[user]
	name = fred6
	email = frexids@gmail.com

[alias]
    st = status
    ci = commit
    co = checkout
    lol =  log --graph --decorate --pretty=oneline --abbrev-commit
    lola =  log --graph --decorate --pretty=oneline --abbrev-commit --all
